.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  list-style-type: none;
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-left: 270px;
}

.list > li {
  font-size: 20px;
  font-weight: 500;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  width: 80px;
  height: 30px;
  margin: 0 15px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

.notification {
  font-size: 30px;
  font-weight: 700;
}
